body {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  color: #4d4d4d;
  font-family: 'Noto Sans', Sans-Serif;
}

#canvas {
  width: 95%;
  height: 90%;
  align-self: stretch;
  margin: 2rem;
  outline: 0.3rem solid black;
  border: solid aliceblue;
}

#canvas-column {
  width: 100%;
}

#icon {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.title {
  font-size: 3.5rem !important;
}

footer {
  background-color: #17202A !important;
  color: snow;
  margin-bottom: 0 !important;
  margin-top: 1rem !important;
}

#space {
  margin-top: 0rem;
  background-color: hsl(204, 86%, 53%);
  border-radius: 2rem;
}
