body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  background: #566573 linear-gradient(to bottom, #34495E, #566573 116px) no-repeat;
    color: #4d4d4d;
  font-family: 'Noto Sans', Sans-Serif;
}

#canvas {
  width: 95%;
  height: 90%;
  align-self: stretch;
  margin: 2rem;
  outline: 0.3rem solid black;
  border: solid aliceblue;
}

#canvas-column {
  width: 100%;
}

footer {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  background-color: #17202A;
  height: 3rem;
  flex-grow: 1;
  color: snow;
}

#icon {
  font-size: 3rem;
  margin-top: 0.5rem;
}

.title {
  font-size: 3.5rem !important;
}

footer {
  background-color: #17202A !important;
  color: snow;
  margin-bottom: 0 !important;
  margin-top: 1rem !important;
}
