 body {
   margin: 0;
   font-family: "custom font";
}

html {
  background: #566573 linear-gradient(to bottom, #34495E, #566573 116px) no-repeat;
}

footer {
  background-color: #17202A;
  color: snow;
  padding: 1rem;
  margin-bottom: 0 !important;
  margin-top: 2rem !important;
}

.card, .card title, .card-footer a{
  transition-duration: 0.4s;
}

.card title{
  transition-duration: 0.4s;
}

.card:hover .title {
  color: wheat !important;
}

.card:hover .card-footer a {
  color: tomato !important;
  border-color: #17202A;
}

.card:hover .card-footer a:hover {
  color: hsl(348, 100%, 50%) !important;
}

.card:hover {
  margin-top: 0.5rem;
  -webkit-box-shadow: 0px 0px 148px -39px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 148px -39px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 148px -39px rgba(0,0,0,0.75);
  background-color: #17202A;
  color: wheat !important;
}