body {
  margin: 0;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: space-between;
  height: 95vh;
  width: 100vw;
  align-items: stretch;
  flex-wrap: wrap;
}

#up-half {
  display: flex;
  flex-direction: row;
  background-color: springgreen;
  height: calc(50vh - 1rem);
  width: 100%;
}

#bot-half {
  display: flex;
  flex-direction: row;
  background-color: tomato;
  height: 50vh;
  margin-top: 1rem;
  width: 100%;
}
