body {
  margin: 0;
  background-color: #ddeedd;
  color: #3e4444;
}

#canvas {
  display: block;
  height: 95vh;
  width: 95vw;
  border: solid 0.5rem #405d27;
  margin: auto;
  background-color: white;
}

#dataCanvas, #inputSection, #information {
  display: block;
  margin-top: 2rem;
  margin-left: auto !important;
  margin-right: auto !important;
  border-top: solid 0.5rem #405d27;
  border-bottom: solid 0.5rem #405d27;
  height: 25vh;
  width: 95vw;
  background-color: rgb(181, 231, 160);
  box-shadow: -10px -6px 18px -6px rgba(0,0,0,0.75)
}

#inputSection {
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 35vw;
  padding-top: 2rem;
  padding-bottom: 2rem;
  letter-spacing: 0.1rem;
  text-rendering: optimizeLegibility;
}

#inputSection div {
  margin: auto;
  text-align: left;
  padding: 0.6rem;
  font-size: 1.25rem;
}

button {
  margin: auto;
  display: flex;
  max-width: 10vw;
}

header {
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: rgb(181, 231, 160);
  margin-bottom: 1rem;
  border-bottom: solid #405d27;
}

#information {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  width: 95rem;
  height: 52rem;
  text-align: center;
  padding-bottom: 6rem;
}

#information h1,h2 {
  display: inline-block;
  margin: auto;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 0.7rem;
  font-size: 2.3rem;
  width: 85%;
  border-bottom: solid 0.36rem;
  padding-top: 1rem;
}

#information h1 {
  padding-top: 3rem !important;
}

h2 {
  font-size: 1.8rem !important;
  width: 65% !important;
}

#information p, ul {
  font-size: 1.5rem;
  margin-right: 7rem;
  margin-left: 7rem;
  text-align: justify;
}

a {
  display: block;
  font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  color: blue;
  padding-top: 2rem;
}

a:hover {
  color: green;
  font-style: italic;
  font-weight: bold;
}

header h1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  letter-spacing: 0.2rem;
  font-size: 42px;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  text-shadow: -17px -6px 23px -6px rgba(0,0,0,0.75);
  color: #3e4444;
}

footer {
  margin-top: 3.5rem !important; 
  background-color: rgb(181, 231, 160);
  bottom: 0em;
  text-align: center;
  margin-top: 1rem;
  border-top: solid #405d27;
}

footer h3 {
  display: inline-block;
  margin: 1.5rem;
}