body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0;
  background: #566573 linear-gradient(to bottom, #34495E, #566573 116px) no-repeat;
    color: #4d4d4d;
  font-family: 'Noto Sans', Sans-Serif;
}

#canvas {
  background-color: #273746;
  flex-grow: 1;
  align-self: stretch;
  margin: 0.5rem;
  outline: 0.3rem solid black;
}

.flex-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
  align-content: center;
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
  list-style: none;
}

.north, .south{
  display: flex;
  justify-content: center;
}

.west-east {
  display: flex;
  flex-direction: row;
}

.west-east * {
  margin-left: 1rem;
}

.slider {
  background-color: #117A65;
  border: 2px solid #212F3C;
  border-radius: 5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
  color: snow;
  height: 4rem;
  font-size: 1.5rem;
}

button {
  text-decoration: none;
  background-color: #117A65;
  border-radius: 10rem;
  cursor: pointer;
  transition-duration: 0.4s;
  color: snow !important;
  border: 2px solid #212F3C;
}

.flex-item {
  width: 8rem;
  height: 4rem;
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

button:hover {
  background-color: #FAEBD7;
  color: black !important;
}
