.button {
  margin: 0.15rem;
  width: 4rem !important;
  font-size: 0.75rem !important;
}

.numericButton {
  width: 1.85rem !important;
}

#presets {
  width: 8rem !important;
  text-align: left;
}

.no-margin {
  margin: 0 !important;
  padding: 0 !important;
}

.buttonDisplay {
  margin-left: 0.25rem !important;
  margin-right: 0.25rem !important;
}

.symbol {
  width: 0.1rem !important;
  height: 1.5rem !important;
}
